//@font-face {
//  font-family: 'NeueHaasUnicaPro'; src: url('../fonts/2E3E00_F_0.eot');src: url('../fonts/2E3E00_F_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_F_0.woff2') format('woff2'),url('../fonts/2E3E00_F_0.woff') format('woff'),url('../fonts/2E3E00_F_0.ttf') format('truetype');
//  font-weight: 100;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'NeueHaasUnicaPro'; src: url('../fonts/2E3E00_11_0.eot');src: url('../fonts/2E3E00_11_0.eot?#iefix') format('embedded-opentype'), url('../fonts/2E3E00_11_0.woff2') format('woff2'), url('../fonts/2E3E00_11_0.woff') format('woff'), url('../fonts/2E3E00_11_0.ttf') format('truetype');
//  font-weight: 200;
//  font-style: normal;
//}

@font-face {
  font-family: 'NeueHaasUnicaPro'; src: url('../fonts/2E3E00_8_0.eot');src: url('../fonts/2E3E00_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_8_0.woff2') format('woff2'),url('../fonts/2E3E00_8_0.woff') format('woff'),url('../fonts/2E3E00_8_0.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasUnicaPro'; src: url('../fonts/2E3E00_9_0.eot');src: url('../fonts/2E3E00_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_9_0.woff2') format('woff2'),url('../fonts/2E3E00_9_0.woff') format('woff'),url('../fonts/2E3E00_9_0.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasUnicaPro'; src: url('../fonts/2E3E00_C_0.eot');src: url('../fonts/2E3E00_C_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_C_0.woff2') format('woff2'),url('../fonts/2E3E00_C_0.woff') format('woff'),url('../fonts/2E3E00_C_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasUnicaPro'; src: url('../fonts/2E3E00_7_0.eot');src: url('../fonts/2E3E00_7_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_7_0.woff2') format('woff2'),url('../fonts/2E3E00_7_0.woff') format('woff'),url('../fonts/2E3E00_7_0.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaasUnicaPro'; src: url('../fonts/2E3E00_A_0.eot');src: url('../fonts/2E3E00_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_A_0.woff2') format('woff2'),url('../fonts/2E3E00_A_0.woff') format('woff'),url('../fonts/2E3E00_A_0.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


//@font-face {font-family: 'NeueHaasUnicaPro-XBlackIt';src: url('../fonts/2E3E00_0_0.eot');src: url('../fonts/2E3E00_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_0_0.woff2') format('woff2'),url('../fonts/2E3E00_0_0.woff') format('woff'),url('../fonts/2E3E00_0_0.ttf') format('truetype');}
//
//@font-face {font-family: 'NeueHaasUnicaPro-Black';src: url('../fonts/2E3E00_1_0.eot');src: url('../fonts/2E3E00_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_1_0.woff2') format('woff2'),url('../fonts/2E3E00_1_0.woff') format('woff'),url('../fonts/2E3E00_1_0.ttf') format('truetype');}
//
//@font-face {font-family: 'NeueHaasUnicaPro-BlackIt';src: url('../fonts/2E3E00_2_0.eot');src: url('../fonts/2E3E00_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_2_0.woff2') format('woff2'),url('../fonts/2E3E00_2_0.woff') format('woff'),url('../fonts/2E3E00_2_0.ttf') format('truetype');}
//
//@font-face {font-family: 'NeueHaasUnicaPro-Bold';src: url('../fonts/2E3E00_3_0.eot');src: url('../fonts/2E3E00_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_3_0.woff2') format('woff2'),url('../fonts/2E3E00_3_0.woff') format('woff'),url('../fonts/2E3E00_3_0.ttf') format('truetype');}
//
//@font-face {font-family: 'NeueHaasUnicaPro-BoldItalic';src: url('../fonts/2E3E00_4_0.eot');src: url('../fonts/2E3E00_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_4_0.woff2') format('woff2'),url('../fonts/2E3E00_4_0.woff') format('woff'),url('../fonts/2E3E00_4_0.ttf') format('truetype');}
//
//@font-face {font-family: 'NeueHaasUnicaPro-Heavy';src: url('../fonts/2E3E00_5_0.eot');src: url('../fonts/2E3E00_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_5_0.woff2') format('woff2'),url('../fonts/2E3E00_5_0.woff') format('woff'),url('../fonts/2E3E00_5_0.ttf') format('truetype');}
//
//@font-face {font-family: 'NeueHaasUnicaPro-HeavyIt';src: url('../fonts/2E3E00_6_0.eot');src: url('../fonts/2E3E00_6_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_6_0.woff2') format('woff2'),url('../fonts/2E3E00_6_0.woff') format('woff'),url('../fonts/2E3E00_6_0.ttf') format('truetype');}
//
//@font-face {font-family: 'NeueHaasUnicaPro-LightIt';src: url('../fonts/2E3E00_9_0.eot');src: url('../fonts/2E3E00_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_9_0.woff2') format('woff2'),url('../fonts/2E3E00_9_0.woff') format('woff'),url('../fonts/2E3E00_9_0.ttf') format('truetype');}
//
//@font-face {font-family: 'NeueHaasUnicaPro-MediumIt';src: url('../fonts/2E3E00_B_0.eot');src: url('../fonts/2E3E00_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_B_0.woff2') format('woff2'),url('../fonts/2E3E00_B_0.woff') format('woff'),url('../fonts/2E3E00_B_0.ttf') format('truetype');}
//
//@font-face {font-family: 'NeueHaasUnicaPro-ThinItalic';src: url('../fonts/2E3E00_D_0.eot');src: url('../fonts/2E3E00_D_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_D_0.woff2') format('woff2'),url('../fonts/2E3E00_D_0.woff') format('woff'),url('../fonts/2E3E00_D_0.ttf') format('truetype');}
//
//@font-face {font-family: 'NeueHaasUnicaPro-UltLightIt';src: url('../fonts/2E3E00_E_0.eot');src: url('../fonts/2E3E00_E_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_E_0.woff2') format('woff2'),url('../fonts/2E3E00_E_0.woff') format('woff'),url('../fonts/2E3E00_E_0.ttf') format('truetype');}
//
//@font-face {font-family: 'NeueHaasUnicaPro-XBlack';src: url('../fonts/2E3E00_10_0.eot');src: url('../fonts/2E3E00_10_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E3E00_10_0.woff2') format('woff2'),url('../fonts/2E3E00_10_0.woff') format('woff'),url('../fonts/2E3E00_10_0.ttf') format('truetype');}
