// Variables -----------------------------------------------------------------
$fontStack: 'NeueHaasUnicaPro', 'Helvetica Neue', Arial, sans-serif;
$maquetteFontStack: 'ars-maquette-web', 'NeueHaasUnicaPro', 'Avenir', 'Helvetica Neue', Arial, sans-serif;

// Colors --------------------------------------------------------------------
$textColor:     #34363A;
$headingColor:  #222427;

$blueColor:     #2266ED;
$tealColor:     #77B8CF;
$yellowColor:   #FDD157;
$darkColor:     #1A1C1E;

$redColor:      #F23131;
$greenColor:    #00B351;

// Dimensions ----------------------------------------------------------------
$topbarHeight: 80px;
$topbarVerticalPadding: 8px;
