//= require_tree ./base
//= require_self

// Imports -------------------------------------------------------------------
@import 'base/variables';

// Base ----------------------------------------------------------------------
* { box-sizing: border-box }
h1, h2, h3, h4, ul, p { margin: 0; padding: 0 }

html, body { width: 100%; height: 100% }
html, body {
  background: linear-gradient(to bottom, #fafafa, #f0f0f0) no-repeat;
  background-attachment: fixed;
}

body {
  font-family: $fontStack;
  font-size: 14px;
//  -webkit-font-smoothing: antialiased;
}

a {
  color: $blueColor;
  text-decoration: none;
  transition: color .15s ease-out;
}

.timeline {
  height: 100%;
  padding-top: 38px;
}

// UI ------------------------------------------------------------------------
.timeline-legend {
  position: fixed;
  top: 125px; left: 30px;
  max-width: 175px;
  z-index: 10;

  ul { list-style: none }
  ul li {
    & > *  { display: inline-block; vertical-align: middle }
    & + li { margin-top: 1em }
    .legend-label {
      margin: 1px .5em 0 .75em;
      color: rgba($textColor, .85);
      line-height: 1;
    }
    i {
      position: relative;
      width: 14px; height: 17px;
      border-radius: 3px;
    }
  }

  .timeline-event, .timeline-now {
    text-align: center;
    span {
      display: inline-block;
      width: 1px; height: 100%;
      background-color: $blueColor;
    }
  }
  .timeline-now span { background-color: $redColor }
}

//.legend-details { background-color: #fcfcfc }
small {
  display: block;
  color: rgba($textColor, .5);
  font-size: 11px;
  a { color: rgba($textColor, .75) }
  a:hover, a:focus { color: black; }
  & + small { margin-top: .65em }
}

.white-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(#000,.1), 0 .5px 1px (rgba(#000, .1));

  .white-box-section { padding: 1em }
  .white-box-section + .white-box-section {
    padding-top: 1em;
    border-top: 1px solid rgba($textColor, .1);
  }
  .white-box-section:last-child { border-radius: 0 0 5px 5px }
}

// VIS Overwriting -----------------------------------------------------------
.vis-timeline,
.vis-panel,
.vis-labelset .vis-label,
.vis-foreground .vis-group { border: none !important }
.vis-panel.vis-center { cursor: move; overflow: initial }
.vis-panel.vis-left { width: 0 }

.vis-top .vis-time-axis {
  background: linear-gradient(to bottom, #fff 50%, rgba(#fff, .9));
  box-shadow: 0 1px 0 rgba($textColor, .1);
  z-index: 10;
  cursor: move;

  .vis-text {
    color: rgba($textColor, .65);
    padding: 5px 0;
  }

  .safari-9 & {
    background: rgba(#fff, .65);
    backdrop-filter: blur(20px) saturate(100%);
  }
}

.vis-shadow { display: none }

// VIS Items -----------------------------------------------------------------
.vis-item.vis-range {
  .vis-item-overflow, .vis-item-content, .vis-item-content a { height: 21px }
  .vis-item-overflow { overflow: initial }
  .vis-item-content {
    width: 100%;
    padding: 0;
    z-index: 1;
  }

  .vis-item-content a {
    display: block;
    padding: 4px 6px 3px;
    color: #fff;
    font-size: 11px;
    text-shadow: 0 1px 0px rgba($textColor, 0.25), 0 0 1px rgba($textColor, 0.65);
  }
}

.vis-group {
  .vis-item {
    border-radius: 0;

    & + .vis-item {
      border-left: 1px solid #fff;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.vis-item {
  box-shadow: inset 0 -1px 0 0 rgba(#000, .1);

  &.original, &.bootstrapped {
    background: $blueColor;
    background: linear-gradient(to right, #3686FF, #2263D4);
    border: none
  }

  &.acquired {
    background: #24C283;
    border: none
  }

  &.discontinued {
    background-color: #f24e50;
    border: none;
  }

  &.original.fading {
    background: transparent linear-gradient(to right, #2263D4, rgba(#3686FF, 0));
    box-shadow: none;
    border-radius: 0 !important;
  }

  &.acquired.fading {
    background: transparent linear-gradient(to right, #24C283, rgba(#24C283, 0));
    box-shadow: none;
    border-radius: 0;
  }
}

.vis-item.vis-background {
  background-color: transparent;
  border: none;
  padding: 5px;
  
  &, & + .vis-item.vis-background { border-left: 1px solid rgba($blueColor, .75) }
  .vis-item-overflow { overflow: initial }
  .vis-item-content { color: $blueColor; font-size: 11px; top: 0 !important; }
}

.vis-current-time {
  background-color: $redColor;
  width: 1px;
}

.app-link span {
  display: inline-block;
  position: relative;
}
