@font-face {
  font-family: 'NeueHaasUnicaPro';
  src: url("../fonts/2E3E00_8_0.eot");
  src: url("../fonts/2E3E00_8_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2E3E00_8_0.woff2") format("woff2"), url("../fonts/2E3E00_8_0.woff") format("woff"), url("../fonts/2E3E00_8_0.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'NeueHaasUnicaPro';
  src: url("../fonts/2E3E00_9_0.eot");
  src: url("../fonts/2E3E00_9_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2E3E00_9_0.woff2") format("woff2"), url("../fonts/2E3E00_9_0.woff") format("woff"), url("../fonts/2E3E00_9_0.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'NeueHaasUnicaPro';
  src: url("../fonts/2E3E00_C_0.eot");
  src: url("../fonts/2E3E00_C_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2E3E00_C_0.woff2") format("woff2"), url("../fonts/2E3E00_C_0.woff") format("woff"), url("../fonts/2E3E00_C_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NeueHaasUnicaPro';
  src: url("../fonts/2E3E00_7_0.eot");
  src: url("../fonts/2E3E00_7_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2E3E00_7_0.woff2") format("woff2"), url("../fonts/2E3E00_7_0.woff") format("woff"), url("../fonts/2E3E00_7_0.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'NeueHaasUnicaPro';
  src: url("../fonts/2E3E00_A_0.eot");
  src: url("../fonts/2E3E00_A_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2E3E00_A_0.woff2") format("woff2"), url("../fonts/2E3E00_A_0.woff") format("woff"), url("../fonts/2E3E00_A_0.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
.topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 2%;
  line-height: 1.5;
  z-index: 1000; }
  .no-scroll .topbar, .topbar.collapsed {
    position: fixed;
    top: 0;
    padding: 8px 2%;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(52, 54, 58, 0.175); }
    .no-scroll .topbar .nav-logotype, .topbar.collapsed .nav-logotype {
      -webkit-transform: translatey(-1em);
          -ms-transform: translatey(-1em);
              transform: translatey(-1em);
      opacity: 0; }
  .topbar a:focus {
    outline: none; }
  .topbar h1 {
    padding: .25em 0;
    font-size: 21px;
    font-weight: normal; }

.safari-9:not(.ios) .topbar.collapsed {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(20px) saturate(100%);
          backdrop-filter: blur(20px) saturate(100%); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .topbar.collapsed {
    box-shadow: none; }
    .topbar.collapsed:after {
      content: '';
      position: absolute;
      top: 60px;
      left: 0;
      width: 200%;
      height: 1px;
      background: -webkit-linear-gradient(rgba(52, 54, 58, 0.25) 0%, rgba(52, 54, 58, 0.25) 50%, transparent 50%, transparent 100%);
      background: linear-gradient(rgba(52, 54, 58, 0.25) 0%, rgba(52, 54, 58, 0.25) 50%, transparent 50%, transparent 100%); } }
.topbar-container {
  position: relative;
  margin: auto;
  height: 44px;
  text-align: center; }
  .topbar-container > * {
    display: inline-block; }

.topbar-left {
  position: absolute;
  left: 0;
  top: 2px; }

.topbar-right {
  position: absolute;
  right: 0;
  top: 5px; }

.nav-link {
  display: inline-block;
  color: rgba(52, 54, 58, 0.65);
  font-size: 15px;
  padding: .6em 1.5em .4em; }
  .nav-link:first-child {
    padding-left: 0.5em; }
  .nav-link.current {
    color: rgba(52, 54, 58, 0.85); }
  .nav-link:hover, .nav-link:focus {
    color: #34363A; }

.nav-link-b {
  font-size: 13px; }

.nav-button {
  border: 1px solid rgba(52, 54, 58, 0.125);
  border-bottom-color: rgba(52, 54, 58, 0.15);
  border-radius: 2em;
  margin-top: 1px;
  padding: .45em 1em .4em;
  color: rgba(52, 54, 58, 0.65);
  font-size: 13px;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition: .15s;
  transition: .15s; }
  .nav-button:hover {
    border-color: rgba(52, 54, 58, 0.33);
    color: rgba(52, 54, 58, 0.85); }
  .nav-link + .nav-button {
    margin-left: 0.5em; }

.collapsed .nav-button {
  border-color: transparent;
  background-color: #2266ED;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.085), transparent);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.085), transparent);
  color: #fff;
  -webkit-transition: none;
  transition: none; }
  .collapsed .nav-button:hover, .collapsed .nav-button:focus {
    color: #fff;
    background-color: #0156ff; }
  .collapsed .nav-button:active {
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.085), transparent);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.085), transparent); }

.nav-share > * {
  display: inline-block;
  vertical-align: middle; }
.nav-share span {
  margin: .15em 1.5em 0 0;
  color: rgba(52, 54, 58, 0.65);
  font-size: 13px;
  line-height: 1; }
.nav-share a {
  display: inline-block;
  padding: .65em;
  opacity: .65;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out; }
  .nav-share a img {
    display: block;
    height: 17px; }
  .nav-share a:hover, .nav-share a:focus {
    opacity: 1; }
  .nav-share a + a {
    margin-left: 1em; }

@media (max-width: 720px) {
  .nav-link {
    padding: 0.6em 1em; } }
@media (max-width: 600px) {
  .topbar {
    padding: 8px 2%;
    position: fixed; } }
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
    max-width: 100%;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */ /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
  box-sizing: border-box; }

h1, h2, h3, h4, ul, p {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: "NeueHaasUnicaPro", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px; }

a {
  color: #2266ED;
  text-decoration: none;
  -webkit-transition: color .15s ease-out;
  transition: color .15s ease-out; }

.timeline {
  height: 100%;
  padding-top: 38px;
  background: -webkit-linear-gradient(top, #fafafa, #f0f0f0) no-repeat;
  background: linear-gradient(to bottom, #fafafa, #f0f0f0) no-repeat;
  background-attachment: fixed; }

.white-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0.5px 1px rgba(0, 0, 0, 0.1); }
  .white-box .white-box-section {
    padding: 1em; }
  .white-box .white-box-section + .white-box-section {
    padding-top: 1em;
    border-top: 1px solid rgba(52, 54, 58, 0.1); }
  .white-box .white-box-section:last-child {
    border-radius: 0 0 5px 5px; }

.timeline-legend {
  position: absolute;
  top: 125px;
  left: 30px;
  max-width: 175px;
  z-index: 10; }
  .timeline-legend ul {
    list-style: none; }
  .timeline-legend ul li > * {
    display: inline-block;
    vertical-align: middle; }
  .timeline-legend ul li + li {
    margin-top: 1em; }
  .timeline-legend ul li .legend-label {
    margin: 1px .5em 0 .75em;
    color: rgba(52, 54, 58, 0.85);
    line-height: 1; }
  .timeline-legend ul li i {
    position: relative;
    width: 14px;
    height: 17px;
    border-radius: 3px; }
  .timeline-legend .timeline-event, .timeline-legend .timeline-now {
    text-align: center; }
    .timeline-legend .timeline-event span, .timeline-legend .timeline-now span {
      display: inline-block;
      width: 1px;
      height: 100%;
      background-color: #2266ED; }
  .timeline-legend .timeline-now span {
    background-color: #F23131; }

small {
  display: block;
  color: rgba(52, 54, 58, 0.5);
  font-size: 11px; }
  small a {
    color: rgba(52, 54, 58, 0.75); }
  small a:hover, small a:focus {
    color: black; }
  small + small {
    margin-top: 0.65em; }

.vis-timeline,
.vis-panel,
.vis-labelset .vis-label,
.vis-foreground .vis-group {
  border: none !important; }

.vis-panel.vis-center {
  cursor: move;
  overflow: initial; }

.vis-panel.vis-left {
  width: 0; }

.vis-top .vis-time-axis {
  background: -webkit-linear-gradient(top, #fff 50%, rgba(255, 255, 255, 0.9));
  background: linear-gradient(to bottom, #fff 50%, rgba(255, 255, 255, 0.9));
  box-shadow: 0 1px 0 rgba(52, 54, 58, 0.1);
  z-index: 10;
  cursor: move; }
  .vis-top .vis-time-axis .vis-text {
    color: rgba(52, 54, 58, 0.65);
    padding: 5px 0; }
  .safari-9 .vis-top .vis-time-axis {
    background: rgba(255, 255, 255, 0.65);
    -webkit-backdrop-filter: blur(20px) saturate(100%);
            backdrop-filter: blur(20px) saturate(100%); }

.vis-item.vis-range .vis-item-overflow, .vis-item.vis-range .vis-item-content, .vis-item.vis-range .vis-item-content a {
  height: 21px; }
.vis-item.vis-range .vis-item-overflow {
  overflow: initial; }
.vis-item.vis-range .vis-item-content {
  width: 100%;
  padding: 0;
  z-index: 1; }
.vis-item.vis-range .vis-item-content a {
  display: block;
  padding: 4px 6px 3px;
  color: #fff;
  font-size: 11px;
  text-shadow: 0 1px 0px rgba(52, 54, 58, 0.25), 0 0 1px rgba(52, 54, 58, 0.65); }

.vis-group .vis-item {
  border-radius: 0; }
  .vis-group .vis-item + .vis-item {
    border-left: 1px solid #fff; }
  .vis-group .vis-item:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .vis-group .vis-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }

.vis-item {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1); }
  .vis-item.original, .vis-item.bootstrapped {
    background: #2266ED;
    background: -webkit-linear-gradient(left, #3686FF, #2263D4);
    background: linear-gradient(to right, #3686FF, #2263D4);
    border: none; }
  .vis-item.acquired {
    background: #24C283;
    border: none; }
  .vis-item.discontinued {
    background-color: #f24e50;
    border: none; }
  .vis-item.original.fading {
    background: transparent -webkit-linear-gradient(left, #2263D4, rgba(54, 134, 255, 0));
    background: transparent linear-gradient(to right, #2263D4, rgba(54, 134, 255, 0));
    box-shadow: none;
    border-radius: 0 !important; }
  .vis-item.acquired.fading {
    background: transparent -webkit-linear-gradient(left, #24C283, rgba(36, 194, 131, 0));
    background: transparent linear-gradient(to right, #24C283, rgba(36, 194, 131, 0));
    box-shadow: none;
    border-radius: 0; }

.vis-item.vis-background {
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(34, 102, 237, 0.75);
  padding: 5px; }
  .vis-item.vis-background .vis-item-overflow {
    overflow: initial; }
  .vis-item.vis-background .vis-item-content {
    color: #2266ED;
    font-size: 11px;
    top: 0 !important; }

.vis-current-time {
  background-color: #F23131;
  width: 1px; }

.app-link span {
  display: inline-block;
  position: relative; }
