html, body {
  font-family: sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.generic, .bootstrapped {
  background-color: green !important;
  border-color: green !important;
}

.acquired {
  background-color: blue !important;
  border-color: blue !important;
}

.discontinued {
  background-color: red !important;
  border-color: red !important;
}

.vis-content {
  cursor: move;
}

.vis-item .vis-item-content {
  padding: 1px 3px;
  font-size: 11px;
}